<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.haoxueren.demo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".lifecycle.LifeCycleActivity"/>
        <activity android:name=".lifecycle.DialogThemeActivity">
        </activity>
        <activity
            android:name=".textview.TextViewActivity"
            android:label="深入理解TextView">
        </activity>
        <activity android:name=".retrofit.RetrofitImageActivity">
        </activity>
        <activity android:name=".BaseActivity">
        </activity>
        <activity android:name=".retrofit.RetrofitDemoActivity">
        </activity>
        <activity android:name=".glide.GlideDemoActivity">
        </activity>
        <activity android:name=".date.DateFormatActivity">
        </activity>
        <activity android:name=".greendao.HaoNoteActivity">
        </activity>
        <activity android:name=".rxjava.RxJavaActivity">
        </activity>
        <activity android:name=".flexboxlayout.FlexboxActivity">
        </activity>
        <activity android:name=".fastjson.FastJsonActivity"/>
        <activity android:name=".broadcast.LocalBroadcastManagerActivity">
        </activity>
        <activity android:name=".broadcast.BroadcastReceiverActivity">
        </activity>
        <activity android:name=".shader.ShaderActivity">
        </activity>
        <activity android:name=".shader.FlashActivity">
        </activity>
        <activity android:name=".andjump.AndJumpActivity">
        </activity>
        <activity android:name=".andjump.TargetActivity">
        </activity>
        <activity android:name=".dagger2.DaggerActivity">
        </activity>
    </application>

</manifest>